<div class="container chat-view">
  <div class="row" style="height:100%;">
    <!-- chat panel -->
    <div class="col-sm-9 chat-messages pane">
    </div>
    <!-- userslist -->
    <div class="col-sm-3 widget-container userslist styled boxed-velvet pane">
    </div>
  </div>
</div>
<!--/ container -->