<div class="room-name">{{roomname}}</div>
<div class="chat-area-container">
  <!-- messages -->
  <div class="chat-area">
  </div>
</div>
<div class="controls">
  <input type="checkbox" value="disable_scroll" id="check-scroll">
  <label for="check-scroll">Disable Scroll</label>
  <input type="checkbox" value="disable_nsfw" id="disable-nsfw">
  <label for="check-scroll">Disable NSFW Previews</label>
</div>
<div class="chat-input">
  <span class="btn btn-small chat-send" style="opacity: 1;"><input type="button" id="sendChat" value="Send"
                                                                   class="gradient"></span>

  <div class="chat-text-input">
    <input class="gradient" id="chatInput" placeholder="Chat Text Here" value="" type="text" hidefocus="true">
  </div>
</div>