<div class="widget-container widget_profile boxed-velvet" data-uuid="{{uuid}}">
  <div class="inner gradient">
    <div class="widget_profile_top clearfix">
      <div class="avatar"><img src="{{avatar}}" alt=""></div>
      <h5>{{username}}</h5>
      <span class="subtitle">{{title}}</span>
    </div>
  </div>
</div>